*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif ;
}
/* nav start */
#baner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    text-align: justify;
    padding-top: 5%;
    margin-bottom: 80px;
}
#baner span{
color: chocolate;
font-size: 30px;
font-weight: 400;
}
.one{
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}
    
.one img{
    width: 100%;
}
p{
    color: black;
    font-size: 20px;
    font-weight: 400; 
    display: block;
    margin-bottom: 25px;
}
#baner .batton{
    text-decoration: none;
    color: yellow;
    background: gray;
    padding: 5px 15px;
    border-radius: 50px;
  
  
}
/* nav end */
/* baner start */
#hader{
display: flex;
text-align: justify;
}